* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
}

.top {
    background-color: red;
    height: calc(100% - 50px);
}

.bottom {
    background-color: black;
    height: 50px;
}
.left{
    width:230px;
    height: 100%;
    background-color: green;
}
.head{
    height: 90px;
    width: calc(100% - 230px);
    background-color: yellow;
}